<div class="container">
    <div class="row">
        <div class="col-lg-6 text-center wow zoomIn" id="i18_blog">
            <div style="height: 80px;"><h1>Shabbir Hasan Blog Posts</h1></div>
            <a class="btn btn-lg btn-warning btn-rounded wow bounceIn" href="{{ "/blog/" | prepend: site.baseurl }}"><span data-i18n="blog.my_blog">Shabbir's Blog</span></a>
            <div style="height: 80px;"></div>
        </div>
        <div class="col-lg-6 wow zoomIn">
          <div id="blog-recent">
            <h2>Latest Posts</h2>
            {% for post in site.posts limit:4 %}
            <p><a class="btn btn-lg btn-default btn-rounded wow bounceIn" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></p>
            {% endfor %}
          </div>
        </div>
    </div>
</div>
