<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="yandex-verification" content="8829397889d9f693" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% if page.desc %}
    <meta content="{{ page.desc }}" name="description">
  {% endif %}
  {% if page.keywords %}
    <meta name="keywords" content="{{ page.keywords }}">
  {% endif %}
  <meta name="author" content="{{ site.author.name }}">
  <meta name="baseurl" content="{{ site.baseurl }}">

  <title>
    {% if page.title != "index" %}
        {{ site.title }}|{{ page.title }}
    {% else %}
        {{ site.title }}
    {% endif %}
  </title>
  <!-- favicon -->
  <!--<link rel="shortcut icon" href="{{ "/static/assets/img/favicon.ico" | prepend: site.baseurl }}">-->
  <link rel="apple-touch-icon" sizes="180x180" href="{{ "/static/assets/img/apple-touch-icon.png" | prepend: site.baseurl }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ "/static/assets/img/favicon-32x32.png" | prepend: site.baseurl }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ "/static/assets/img/favicon-16x16.png" | prepend: site.baseurl }}">
  <link rel="manifest" href="{{ "/static/assets/img/manifest.json" | prepend: site.baseurl }}">
  <link rel="mask-icon" href="{{ "/static/assets/img/safari-pinned-tab.svg" color="#5bbad5" | prepend: site.baseurl }}">
  <link rel="shortcut icon" href="{{ "/static/assets/img/favicon.ico" | prepend: site.baseurl }}">
  <meta name="msapplication-config" content="{{ "/static/assets/img/browserconfig.xml" | prepend: site.baseurl }}">
  <meta name="theme-color" content="#ffffff">

  <!-- Main CSS -->
  <link href="{{ "/static/assets/app-20170906.min.css" | prepend: site.baseurl }}" rel="stylesheet">
  <link href="{{ "/static/css/custom.css" | prepend: site.baseurl }}" rel="stylesheet">

  <!-- Main Scripts -->
  <script src="{{"/static/assets/app-20170906.min.js"| prepend: site.baseurl }}"></script>
  <script src="{{"/static/assets/blog-20170906.min.js"| prepend: site.baseurl }}"></script>

</head>
