<!-- Main CSS -->
  <link href="{{ "/static/assets/app-20170906.min.css" | prepend: site.baseurl }}" rel="stylesheet">
  <link href="{{ "/static/css/custom.css" | prepend: site.baseurl }}" rel="stylesheet">

  <!-- Main scripts -->
  <script src="{{ "/static/assets/app-20170906.min.js" | prepend: site.baseurl }}"></script>
  {% if site.data.index.projects %}
  <script async defer src="{{ "/static/js/github_api.min.js" | prepend: site.baseurl }}"></script>
  {% endif %}
  {% if site.data.index.language %}
  <script src="{{"/static/assets/i18-20170906.min.js"| prepend: site.baseurl }}"></script>
  {% endif %}

{% include analytics.html %}
